
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap5.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="wrapper">

        <header class="header" id="header" style="position: fixed; width: 100%;">
            {% include "main/header.html" %}




        </header>

        <!-- <header class="header fixed-top" id="header1" style="visibility: hidden; position: absolute; z-index: -1;">
            {% include "main/header.html" %}





        </header> -->
        <div class="sl-r-header"></div>
        {% block main %}{% endblock %}
        <div class="sl-r"></div>
        <footer id="footer" class="footer">
            <a href=""><p class="text-sections" style="font-size: 10px;">Политика конфеденциальности</p></a>
        </footer>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap5.js"></script>
    <script src="/static/js/icon_awesome.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>






    <script>
      let tg = window.Telegram.WebApp;
      window.addEventListener('load', () => {
        tg.expand();
    });
    
    </script>
    


</body>

</html>