:root {
    --header-color: #bfbfff;
    --btn-hover: #6656ac;
    --btn-base: #8e7dd9;
    --btn-base-transperency: #8e7dd97b;
    --main-color: #ffffff;
}


@font-face {
    font-family: "Caveat-Bold";
    src: url("../../static/fonts/Caveat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Caveat-Regular";
    src: url("../../static/fonts/Caveat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* BASE */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    animation: up 2s;
}



html,
body {
    height: 100%;
    animation: body-bg-down 2s;




}

body {
    min-width: 334px;

}



main.main {
    flex: 1 1 auto;
    position: relative;
    min-height: 800px;
    scroll-margin-top: 72px;

}

footer.footer {
    position: relative;

}

.text-sections {
    background-color: #efe9e4;
    border-radius: 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    text-align: center;
    text-shadow: #6656ac;
    padding: 4px;
    font-size: xx-large;
    font-family: Caveat-Regular;
    color: var(--btn-hover);
   
}


/* BASE */


/* BUTTONS */
.btn-primary {
    color: #fff;
    background-color: var(--btn-base);
    border-color: var(--btn-base);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
    font-family: Caveat-Bold;
    transition: 0.1s;
    border-radius: 0.6rem;

}

.btn-primary:hover {
    color: #fff;
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
    font-family: Caveat-Bold;
    transition: all 0.3s;
}

.btn-primary:focus {
    background-color: var(--btn-hover);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
}

.btn-primary:active {
    background-color: var(--btn-hover);
    margin-top: 2px;


   

}

.btn-sticky {
    background-color: var(--btn-base-transperency);
}
.abtn {
    text-decoration: none;
    color: #fff;
}

 /* BUTTONS */

/* HEADER */

.header {
    background-color: var(--header-color);
    padding: 0.1rem;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    z-index: 100;

}

.fixed-top {
    background-color: var(--header-color);
    padding: 0.1rem;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    z-index: 100;
    transition: 5s;
}

.sl-r {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9691ad;
}


ul >* {
    list-style: none;
    margin-top: 7px;
    margin-right: 5px;
}
.top-menu {
    display: flex;
}

/* HEADER */



/* MAIN */


.main {
    background:
        linear-gradient(var(--header-color) 0%,
            var(--main-color) 180%);
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    align-content: start;

}



.bg-img {
    opacity: .1;
    position: absolute;
}

#about {
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.title {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    font-family: Caveat-Bold;
    font-size: 80px;
    text-shadow: 8px 8px 14px var(--btn-hover);

}



.base {

    background-image: url('../media/kabinet.png');
    background-size: cover;
    

}
.base-mezoterapyya {
    background-image: url('../media/mezoterapyya.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.base-piling {
    background-image: url('../media/piling.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-biorevitalizaciya {
    background-image: url('../media/biorevitalizaciya.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-chistkalica {
    background-image: url('../media/chistkalica.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-frakcionnaya {
    background-image: url('../media/frakcionnaya.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.base-kapilyaromezoterapiay {
    background-image: url('../media/kapilyaromezoterapiya.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-lipolitiki {
    background-image: url('../media/lipolitiki.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-mononiti {
    background-image: url('../media/mononiti.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.base-korrekciyagub {
    background-image: url('../media/korrekciyagub.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.base-botulinoterapiya {
    background-image: url('../media/botulinoterapiya.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.uslugi {
    background-color: #efe9e491;;
}

.title-uslugi {
    margin-top: 0;
}

.col-uslugi {
    margin-right: 50px;
}

/* MAIN */




/*OFFCANVAS*/

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    max-height: 700px;
    visibility: hidden;
    background-color: var(--btn-base-transperency);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    border-radius: 0px 14px 14px 0px;
  }

  .offcanvas-body {

    padding: 1rem 0rem;

  }


/* FOOTER */

.footer {
    background-color: var(--header-color);
    border-radius: 14px 14px 0px 0px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
}







/* WELCOME */
.up {
    position: fixed;

}



@keyframes up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes body-bg-down {
    from {
        background-color: rgba(191, 191, 255, 1);
    }

    to {
        background-color: rgba(191, 191, 255, 0);
    }




}



/* WELCOME */

@media (max-width: 575px) { 
    #text-about-sm {
        font-size: large;
    }





    
}
@media (max-width: 1327px) { 

    .title {
        font-size: 60px;
    }
    .icon_base {
        margin-left: 80px !important;
    }



    
}
@media (max-width: 575px) { 
  .title-uslugi {
    font-size: 40px;
  }
  
}
@media (max-width: 990px) { 
    .col-uslugi {
        margin-right: 0px;
    }
    
}