{% extends 'config/layout-blank.html' %}

{% block main %}

<header class="header" id="header-cal" style="position: fixed; width: 100%; z-index: 999;">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-8  calendar-header-title">
                    <h1 class="title title-uslugi" style="margin-top: 0rem; margin-right: 2px;">Неподтвержденные записи:</h1>
            </div>
            <div class="col-4 d-none  d-sm-flex justify-content-end calendar-header-menu" style="height: 20%;">
                <button class="btn btn-primary" onclick="Gdut()">В календарь </button>
                <button class="btn btn-primary" onclick="Back()">На главную</button>
            </div>
            <div class="col d-flex d-sm-none justify-content-end calendar-header-menu" style="height: 20%;">
                
                <button class="btn btn-primary" onclick="Gdut()"><i class="fa-solid fa-calendar fa-xl" style="color: #ffffff;"></i></button>
                <button class="btn btn-primary" onclick="Back()"><i class="fa-solid fa-house fa-xl"
                        style="color: #ffffff;"></i></button>
            </div>
        </div>
    </div>


</header>

<div class="sl-r-header" style="height: 100px;"></div>


<div class="sl-r"></div>
<main id="main-calendar" class="main">
    <div class="container-fluid" style="margin-top: 35px;">
        <div class="row">
            <div class="col col-sm-4 offset-sm-4">
                {% if status1_quant == 0 %} <p class="text-sections" style="margin-top: 50px;">Неподтвержденных записей нет</p> {% endif %}
                {% for zapis in zapisi %}
                {% if zapis.zapis_status == '1' %}
                <button class="btn btn-primary btn-primary-zapisi" id="zapis-{{zapis.id}}" data-bs-toggle="modal" data-bs-target="#modalZapis-{{ zapis.id }}" style="margin-top: 2rem;">{{ zapis.create_date }} {{ zapis.client_name }}</button>
            {% include 'main/modal-zapis-gdet.html' %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<script>
    function Gdut(){
        location = '/calendar'
    }
</script>
<script>
    function Back(){
        location = '/'
    }
</script>


{% endblock %}