            <div class="container-fluid" id="cont-header">
                <div class="row">
                    <div class="col" id="cont-logo">
                        <a href="#"><img width="150px" style="margin-left: 2rem;" src="../../static/media/logoplb.png" alt=""></a>
                    </div>
                    <div class="col-8 d-none d-xl-flex justify-content-end top-menu">
                        <ul style="display: inline-flex;">
                            {% include "main/menu.html" %}
                        </ul>
                    </div>
                    <div class="col d-block d-xl-none" style="margin-top: 6px; margin-right: 2rem;">
                        <button id="btmenu" type="button" style="float: inline-end;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" class="btn btn-primary">Menu</button>
                    </div>
                </div>
