
            
            <div class="container-fluid" id="cont-header">
                <div class="row">
                    <div class="col" id="cont-logo">
                        <a href="#" style="visibility: hidden;" id="logo-header"><img width="200px" style="margin-left: 2rem;" src="/static/media/logoplb.png" alt=""></a>
                    </div>
                    <div class="col d-none d-xl-flex justify-content-end" id="phone_icon" style="margin-top: 20px;  visibility: hidden;">
                      <a href="#"><i class="fa-solid fa-mobile-screen-button fa-2xl" style="color: #ffffff;"></i></a>
                    </div>
                    <div class="col d-none d-xxl-flex justify-content-end" id="phone_number" style="margin-top: 14px;  visibility: hidden;">
                      <a href="#" style="text-decoration: none;"><p class="text-sections text-sections-phone">+7926xxxxxxx</p></a>
                    </div>
                    <div class="col-8 d-none d-xl-flex justify-content-end top-menu">
                        <ul style="display: inline-flex;">
                            {% include "main/menu.html" %} 
                        </ul>
                    </div>
                    <div class="col d-block d-xl-none">
                        <button id="btmenu" type="button" style="float: inline-end;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" class="btn btn-primary btn-menu"><i class="fa-solid fa-bars fa-flip-horizontal fa-lg" style="color: #ffffff;"></i></button>
                    </div>
                </div>
                <script>
                    var logo = document.getElementById('logo-header');
                    var phone_icon = document.getElementById('phone_icon');
                    var phone_number = document.getElementById('phone_number')
                    window.addEventListener('scroll', function () {
                      if (window.scrollY > 30) {
                        logo.setAttribute("style", "visibility: visible;");
                        phone_icon.setAttribute("style", "visibility: visible; margin-top: 20px;");
                        phone_number.setAttribute("style", "visibility: visible; margin-top: 14px;");
                      }
                      else {
                        logo.setAttribute("style", "visibility: hidden;");
                        phone_icon.setAttribute("style", "visibility: hidden; margin-top: 20px;");
                        phone_number.setAttribute("style", "visibility: hidden; margin-top: 14px;");
                      }
                    });
                  </script>
                  <script>
                    function Calendar(){
                      location = '/calendar'
                    }
                  </script>