
{% extends 'config/layout.html' %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <div class="col-8 offset-2" id="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, expedita id illo quam sapiente est vitae autem provident fugit dolore quos? Explicabo exercitationem laudantium voluptas et pariatur numquam ducimus nemo at iure. Eveniet nesciunt aspernatur eligendi saepe, quos blanditiis quibusdam. Tempore eligendi aut libero nesciunt quasi temporibus dolore vitae molestiae sed assumenda distinctio praesentium modi animi numquam perspiciatis, expedita esse enim odit explicabo hic corporis id debitis. Ut consectetur libero soluta molestias consequatur expedita id quisquam rerum fugit nulla reiciendis quod doloribus praesentium eum, possimus debitis sit optio neque. Suscipit, maxime iusto eum aut porro ad magnam doloremque voluptatem adipisci.

    </div>
  </div>
</div>
















{% endblock %}




