{% extends 'config/layout.html' %}

{% block main %}


<div class="sl-r"></div>
<main id="main-start" class="main main-start">
  <div class="row">
    <div class="col logo-start" id="cont-logo-start">
      <img width="100%" style="padding: 20px; padding-bottom: 0px;" src="/static/media/logoplb.png" alt="">
      <h1 class="title-logo" id="title-logo" style="display: none;">Косметология...</h1>
      <h1 class="title-logo title-logo-2" id="title-logo-2" style="display: none;">...ради Красоты</h1>
    </div>
  </div>
</main>
<script>
  window.addEventListener('load', () => {
    $("#title-logo").fadeIn(2000);
    $("#title-logo-2").fadeIn(4000);
    const tm = setTimeout(function () {
      $('#tm2').trigger('click');
    }, 5000);
    window.addEventListener('scroll', () => {
      clearTimeout(tm);
    })


  });

</script>
<!--------------------------------------------USLUGI------------------------>
<div class="sl-r"></div>
<main id="main-uslugi" class="main">

  <div class="container-fluid base" id="base">

    <div class="row">
      {% for group in groups %}
      {% load static %}
      <div class="col d-block justify-content-center col-group" id="col-group"
        style="background-image: url('{{media}}/{{group.bg_image}}');">

        <h1 class="title title-group">{{ group.name }}:</h1>
        {% for usluga in uslugi %}
        {% if usluga.group.name == group.name %}

        <form action="" method="get">

          <li class="uslugi-li"><button type="button" data-bs-toggle="modal" data-bs-target="#modaluslugi-{{ usluga.id }}"
              class="btn btn-primary w-100" style="margin-bottom: 10px;">{{ usluga.name }}</button></li>
          {% include "main/modal-uslugi.html" %}
        </form>
        {% endif %}
        {% endfor %}

      </div>
      {% endfor %}
    </div>

  </div>
</main>
<!--------------------------------------------USLUGI------------------------>
<!--------------------------------------------ABOUT------------------------>
<div class="sl-r"></div>
<main id="main-about" class="main">


  <div class="container-fluid">


    <div class="row row-cols-1 row-cols-sm-2">

      <div class="col d-block d-lg-none" id="about-sm" style="margin-top: 10px; margin-bottom: 30px;">
        <h1 class="title"><img class="icon_base" src="static/media/icon_base.png"
            style="width: 40px; height: 50px; position: absolute; margin-left: 120px; margin-top: 5px;" alt="">Обо мне
        </h1><br><br>


        <p class="text-sections" id="text-about-sm"><img src="static/media/selfi.png" width="120" height="200"
            alt="Иллюстрация" align="left" vspace="5" hspace="5">{% include "main/text_about.html" %}</p>
        <button type="button"  data-bs-toggle="modal" data-bs-target="#modalsertificate" style="float: inline-end; margin-top: 10px; z-index: 999;"
          class="btn btn-primary">Дипломы и сертификаты</button>

      </div>

      <div class="col col-sm-2 offset-sm-2 d-none d-lg-block" id="about">

        <img src="static/media/images.png" width="400" height="450" alt="Иллюстрация" align="left" vspace="5"
          hspace="5">

      </div>
      <div class="col col-sm-5 offset-sm-2 d-none d-lg-block" style=" margin-bottom: 23px;">
        <div class="container-fluid about justify-content-center">

          <h1 class="title"><img class="icon_base" src="{% static '/media/icon_base.png' %}"
              style="width: 40px; height: 50px; position: absolute; margin-left: 120px; margin-top: 5px;" alt="">Обо мне
          </h1><br><br>
          <p class="text-sections" id="text-about" style="margin-right: 50px;">{% include "main/text_about.html" %}</p>
          <button type="button"  data-bs-toggle="modal" data-bs-target="#modalsertificate"  style="float: inline-end; margin-top: 50px; margin-right: 100px; z-index: 999;"
            class="btn btn-primary">Дипломы и сертификаты</button>


        </div>

      </div>
      <div class="col offset-11">
        <button type="button" id="btn-sticky" onclick="GoZapis()" style="position: fixed; right: 5%; top: 10%; display: none;"
          class="btn btn-primary btn-sticky">Записаться на консультацию</button>


      </div>

    </div>
  </div>
  {% include 'main/modal-sertificate.html' %}
</main>
<!--------------------------------------------ABOUT------------------------>


<!----------OFFCANVAS-USLUGI------------------------------------->



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header  justify-content-center">
    <h5 class="offcanvas-title title" id="offcanvasExampleLabel">Услуги</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      {% include "main/list-uslugi.html" %}<br><br>
      <button type="button" data-bs-dismiss="offcanvas" style="z-index: 999; margin-left: 29px;"
        class="btn btn-primary">Записаться на консультацию</button>

    </div>
  </div>
</div>
<!----------OFFCANVAS-USLUGI------------------------------------->

<!----------OFFCANVAS-MENU------------------------------------>



<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuleLabel">
  <div class="offcanvas-header  justify-content-center">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
      <ul class="justify-content-center" style="padding: 4rem; padding-top: 0; padding-bottom: 0;">
        {% include "main/menu-offcanvas.html" %}
      </ul>

    </div>
  </div>
</div>
<!----------OFFCANVAS-MENU------------------------------------>

<script>
  function GoZapis(){
    location = 'zapis';
  }
</script>


<script>
  var btnstk = document.getElementById('btn-sticky');

  window.addEventListener('scroll', function () {

    btnstk.setAttribute("style", "position: fixed; right: 5%; top: 10%;");
    btnstk.textContent = "Записаться на консультацию"




    var timer = null;
    window.addEventListener('scroll', function () {
      if (timer !== null) {
        clearTimeout(timer);
      }
      timer = setTimeout(function () {
        btnstk.setAttribute("style", "position: fixed; right: 1%; top: 10%;");
        btnstk.textContent = 'Запись';

      }, 1000);
    }, false);


  });
</script>
</main>

<!--------------------------------------------USLUGI------------------------>
<div class="sl-r contacts" id="contacts"></div>
<main id="main-next" class="main">
  <div class="container-fluid">
    <div class="row">
      <h1 class="title">Контакты:</h1>
    </div>
      <div class="row" style="margin-top: 50px;">
        <div class="col d-block d-sm-none" style="max-width: 380px;">
          <a href="yandexnavi://build_route_on_map?lat_to=55.904111&lon_to=38.064641"><p class="text-sections text-sections-contacts">Мой адрес: Московская область г. Щёлково, микрорайон Щёлково-3, ул. Супруна, дом 1А</p></a>
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad92544276a3019077241ba35c557cb9799a1aac95a59fc4a4f56c00ebc823b04&amp;width=375&amp;height=375&amp;lang=ru_RU&amp;scroll=true"></script>      </div>
        <div class="col d-none d-sm-block" style="max-width: 620px;">
          <p class="text-sections text-sections-contacts">Мой адрес: Московская область г. Щёлково, микрорайон Щёлково-3, ул. Супруна, дом 1А</p>

          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad92544276a3019077241ba35c557cb9799a1aac95a59fc4a4f56c00ebc823b04&amp;width=495&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>        </div>
        <div class="col" style="margin-top: 50px;">
          <a href="tel:+79162614301" style="text-decoration: none;"><p class="text-sections text-sections-contacts">Мой телефон: +7 (916) 261-43-01</p></a><br>
          <a href="https://wa.me/79162614301" style="text-decoration: none;"><p class="text-sections text-sections-contacts">WatsApp: <i class="fa-brands fa-whatsapp fa-2xl" style="color: #6656ac;"></i></p></a><br>
          <a href="https://t.me/Svkosm_estet" style="text-decoration: none;"><p class="text-sections text-sections-contacts">Telegram: <i class="fa-brands fa-telegram fa-2xl" style="color: #6656ac;"></i></p></a><br>
          
        </div>
      </div>
  </div> 

</main>



<script>
  function Calendar(){
    location = '/calendar'
  }
</script>













{% endblock %}