{% if request.user.is_staff %}

<li><a class="abtn" href="/calendar"><button id="tm1"  type="button" data-bs-dismiss="offcanvas" onclick="Calendar()" class="btn btn-primary menu-offcanvas">Chiara</button></a></li>
{% endif %}

<li><a class="abtn" href="#main-uslugi"><button id="tm2"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Услуги</button></a></li>
<li><a class="abtn" href="#main-about"><button id="tm1"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>
<li><a class="abtn" href="#"><button id="tm3"  style="display: none;" type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Акции</button></a></button></li>
<li><a class="abtn" href="#"><button id="tm4"  style="display: none;" type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Отзывы</button></a></button></li>
<li><a class="abtn" href="#"><button id="tm5"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Контакты</button></a></button></li>
<script>
    function Calendar(){
      location = '/calendar'
    }
  </script>

