<li><a class="abtn" href="#main-about"><button id="tm1"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>
<li><a class="abtn" href="#main-uslugi"><button id="tm2"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Услуги</button></a></li>
<li><a class="abtn" href="#"><button id="tm3"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>
<li><a class="abtn" href="#"><button id="tm4"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>
<li><a class="abtn" href="#"><button id="tm5"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>
<li><a class="abtn" href="#"><button id="tm6"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas">Обо мне</button></a></li>