<li><button id="tm1"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#main-about">Обо мне</a></button></li>
<li><button id="tm2"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#main-uslugi">Услуги</a></button></li>
<li><button id="tm3"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#">Обо мне</a></button></li>
<li><button id="tm4"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#">Обо мне</a></button></li>
<li><button id="tm5"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#">Обо мне</a></button></li>
<li><button id="tm6"  type="button" data-bs-dismiss="offcanvas" class="btn btn-primary menu-offcanvas"><a class="abtn" href="#">Обо мне</a></button></li>