<!-- Modal -->

<div class="modal fade" id="modalZapisEdit-{{ zapis.id }}" tabindex="-1" aria-labelledby="modalzapisedittitle"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="header modal-header-wrap" style="padding: 10px;">


        <div class="row">
          <div class="col d-flex d-md-none justify-content-end">
            <button type="button" class="btn btn-primary" style="float: inline-end;" data-bs-dismiss="modal"
            aria-label="Close">X</button>
          </div>
          <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center ">
            <h1 class="title title-uslugi" id="modaluslugititle">{{ zapis.client_name }}</h>
          </div>

          <div class="col">
            <button type="button" class="btn btn-primary d-none d-md-flex" style="float: inline-end;" data-bs-dismiss="modal"
            aria-label="Close">Возврат</button>


          </div>
        </div>

      </div>
      <div class="modal-body main modal-body-uslugi" style="width: 100%; min-height: 740px;">
        <div class="row modal-body-row"
          style=" min-height: 740px;">
          <div class="col-8 offset-2">
            <form action="calendar/zapis-edit" method="post">
              {% include 'main/zapis-form.html' %}
              <button class="btn btn-primary" type="submit" name="editBtn" value="{{ zapis.id }}">Сохранить изменения</button>
            </form>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div> 