<!-- Modal  ZAPIS-->
{% extends 'config/layout-blank.html' %}

{% block main %}


<header class="header" id="header">
  <div class="row">
    <div class="col d-flex d-md-none justify-content-end">
      <button type="button" class="btn btn-primary" onclick="Back()" style="float: inline-end;">X</button>
    </div>
    <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center ">
      <h1 class="title title-uslugi" id="modaluslugititle">Запись</h>
    </div>
  
    <div class="col">
      <button type="button" class="btn btn-primary d-none d-md-flex"  onclick="Back()" style="float: inline-end;">Возврат</button>
  
  
    </div>
  </div>
</header>


<div class="modal-body main modal-body-uslugi" style="width: 100%; min-height: 600px;">
  <div class="row modal-body-row" style="min-height: 600px;">
    <form action="" method="post">
      {% csrf_token %}
      <div class="col-8 d-flex justify-content-center  offset-2" style=" margin-top: 20px;">
        

        <label for="name_zapis" class="form-label">
          <p class="text-sections text-sections-zapis">Давайте знакомиться! Напишите, пожалуйста, Ваше имя:</p>
        </label>
      </div>
      <div class="col-8 d-flex justify-content-center offset-2">
        {{ form_zapis.client_name }}
      </div>
      <div class="col-8 d-flex justify-content-center offset-2">

        {{ form_zapis.name.errors }}
      </div>
      <br><br>
      <div class="col-8 d-flex justify-content-center  offset-2">
        <label for="phone_number_zapis" class="form-label">
          <p class="text-sections text-sections-zapis">Мне потребуется номер Вашего телефона для связи:</p>
        </label>
      </div>
      <div class="col-8 d-flex justify-content-center offset-2">
        {{ form_zapis.phone }}<br>
      </div>
      <div class="col-8 d-flex justify-content-center offset-2">

        {{ form_zapis.phone.errors }}
      </div>
      

      <div class="col-8 d-flex justify-content-center  offset-2 input-zapis">
        <button class="btn btn-primary" type="submit">Записаться</button>
        <p class="text-sections">Нажимая на кнопку "Записаться, Вы соглашаетесь с "<a href="/politica-conf">Политикой конфиденциальности</a></p>



      </div>
    </form>

  </div>
</div>

</div>
</div>
</div>

<script>
  function Back(){
    location = '/';
  }
</script>

{% endblock %}