<!-- Modal  ZAPIS-->

<div class="modal fade" id="modalzapis" tabindex="-1" aria-labelledby="modalzapistitle" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="header modal-header-wrap"
        style="padding: 10px; background-image: url('{{media}}/{{usluga.bg_image}}');">


        <div class="row">
          <div class="col d-flex d-md-none justify-content-end">
            <button type="button" class="btn btn-primary" style="float: inline-end;" data-bs-dismiss="modal"
              aria-label="Close">X</button>
          </div>
          <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center ">
            <h1 class="modal-title title title-uslugi" id="modaluslugititle">Запись</h>
          </div>

          <div class="col">
            <button type="button" class="btn btn-primary d-none d-md-flex" style="float: inline-end;"
              data-bs-dismiss="modal" aria-label="Close">Возврат</button>


          </div>
        </div>
        <div class="row">
        </div>











      </div>
      <div class="modal-body main modal-body-uslugi" style="width: 100%; min-height: 600px;">
        <div class="row modal-body-row" style="min-height: 600px;">
          <form action="" method="post">
            {% csrf_token %}
          <div class="col-8 offset-2">

            <div class="input-zapis">
              <label for="name_zapis" class="form-label">
                <p class="text-sections text-sections-zapis">Давайте знакомиться! Напишите, пожалуйста, Ваше имя</p>
              </label>
              {{ form_zapis.client_name }}
            </div>
            <div class="input-zapis">
              <label for="phone_number_zapis" class="form-label">
                <p class="text-sections text-sections-zapis">Мне потребуется номер Вашего телефона для связи</p>
              </label>
              {{ form_zapis.phone }}
            </div>

            <button class="btn btn-primary" type="submit">Записаться</button>


          </div>
        </form>

        </div>
      </div>

    </div>
  </div>
</div>