<!-- Modal -->
{% extends 'config/layout-blank.html' %}

{% block main %}

 {% load my_filters %}

     
      <header class="header" style="position: fixed; width: 100%; padding: 10px;">
        <div class="header newheader d-sm-none"  id="bg_image" style="opacity: 0;">
          <img src="{{media}}/{{usluga.bg_image}}" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%;" alt="">
        </div>

        <div class="row">
          <div class="col d-flex d-md-none justify-content-end">
            <button type="button" onclick="BackHome()" class="btn btn-primary btn-sm" style="float: inline-end; font-size: x-small;">X</button>
          </div>
          <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center " >
            <h1 class="modal-title title title-uslugi" id="modaluslugititle">{{ usluga.name }}</h>
          </div>

          <div class="col">
            <button type="button" onclick="BackHome()" class="btn btn-primary d-none d-md-flex" style="float: inline-end;">Возврат</button>


          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary" value="{{ usluga.id }}" onclick="ZapisBtn(this.value)" style="float: inline-end;" data-bs-dismiss="modal"
          aria-label="Close">Записаться на процедуру</button>
          <a href="#" id="link-uslugaName" style="display: none;"></a>
          </div>
        </div>






        
          
          
 
      </header>
      
      <div class="modal-body main modal-body-uslugi" style="margin-top: 150px; width: 100%; min-height: 740px;">
        <div class="row modal-body-row d-flex justify-content-center"
        
          style="min-height: 740px; margin-top: 200px;">
          <img class="d-sm-none" id="zastavka" src="{{media}}/{{usluga.zastavka}}" style="width: auto; border-radius: 30px 30px 30px 30px;  position: fixed; top: 180px; z-index: 99999;" alt=" ">
          <div class="col d-none d-sm-flex">
            <img src="{{media}}/{{usluga.zastavka}}" style="width: 100%; border-radius: 30px 30px 30px 30px; height: auto;" alt=" ">

          </div>
          <div class="col" id="descr-usluga">
            {% autoescape off %}
            <h1 class="title title-uslugi">Описание:</h1><br>
            <p class="text-sections text-sections-modal-uslugi">
              {{ usluga.desc }}
            </p>
            {% endautoescape %}
          </div>
          
          <div class="col" style="margin-bottom: 150px;">
            <h1 class="title title-uslugi">Стоимость:</h1><br>
            <p class="text-sections text-sections-modal-uslugi" id="price" style="font-size: x-large;">{{ usluga.price }}</p>
            <div class="row d-none" id="price-usluga-title">
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi">Название:</p>
              </div>
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi">Количество:</p>
              </div>
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi" style="float: right;">Цена:</p>
              </div>
            </div>

              {% for preparat in preparati %}
              {% if preparat.procedura == usluga %}
              {% if not forloop.counter|chet %}
              <script>
                document.getElementById('price').setAttribute('style', 'display: none; ');
                document.getElementById('price-usluga-title').setAttribute('class', 'row d-none d-sm-flex');

              </script>
              
              <div class="row" id="price-usluga">
                {% else %}
                <div class="row" id="price-usluga" style="background-color: #e6e6f8">
                  {% endif %}
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi">{{ preparat.name }}</p>
                </div>
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi">{{ preparat.kolichestvo }} {{ preparat.edinica }}</p>
                </div>
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi" style="float: right;">{{ preparat.price}}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}

          </div>
          
        </div>
      </div>



<script>
  function ZapisBtn(value){

   var lnk =  document.getElementById('link-uslugaName');
   lnk.setAttribute('href', `/zapis-usluga?nameUslugi=${value}`);
   lnk.click();
  }
</script>


<script>
  
  document.addEventListener("scroll", function() {
    elem = document.getElementById('zastavka')
    header = document.getElementById('bg_image')
    scroll = ((elem.offsetTop + 1) - (elem.offsetTop + window.scrollY/ 200));
    elem.style.opacity = scroll;
    if (elem.style.opacity <= 0){
      header.style.opacity = 1;
    }
    else {
      header.style.opacity = 0;
    }

});
  </script>



<script>
  function BackHome(){
    location = '/';
  }
</script>



{% endblock %}
