<!-- Modal -->
 {% load my_filters %}
<div class="modal fade" id="modaluslugi-{{ usluga.id }}" tabindex="-1" aria-labelledby="modaluslugititl"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
     
      <div class="header modal-header-wrap" style="padding: 10px; background-image: url('{{media}}/{{usluga.bg_image}}');">


        <div class="row">
          <div class="col d-flex d-md-none justify-content-end">
            <button type="button" class="btn btn-primary" style="float: inline-end;" data-bs-dismiss="modal"
            aria-label="Close">X</button>
          </div>
          <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center " >
            <h1 class="modal-title title title-uslugi" id="modaluslugititle">{{ usluga.name }}</h>
          </div>

          <div class="col">
            <button type="button" class="btn btn-primary d-none d-md-flex" style="float: inline-end;" data-bs-dismiss="modal"
            aria-label="Close">Возврат</button>


          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary" value="{{ usluga.id }}" onclick="ZapisBtn(this.value)" style="float: inline-end;" data-bs-dismiss="modal"
          aria-label="Close">Записаться на процедуру</button>
          <a href="#" id="link-uslugaName" style="display: none;"></a>
          </div>
        </div>






        
          
          
 
      </div>
      <div class="modal-body main modal-body-uslugi" style="width: 100%; min-height: 740px;">
        <div class="row modal-body-row"
          style="background-image: url('{{media}}/{{usluga.bg_image}}'); min-height: 740px;">
          <div class="col" id="descr-usluga">
            {% autoescape off %}
            <h1 class="title title-uslugi">Описание:</h1><br>
            <p class="text-sections text-sections-modal-uslugi">
              {{ usluga.desc }}
            </p>
            {% endautoescape %}
          </div>
          
          <div class="col" style="margin-bottom: 150px;">
            <h1 class="title title-uslugi">Стоимость:</h1><br>
            <p class="text-sections text-sections-modal-uslugi" id="price" style="font-size: x-large;">{{ usluga.price }}</p>
            <div class="row d-none" id="price-usluga-title">
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi">Название:</p>
              </div>
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi">Количество:</p>
              </div>
              <div class="col">
                <p class="text-sections text-sections-modal-uslugi" style="float: right;">Цена:</p>
              </div>
            </div>

              {% for preparat in preparati %}
              {% if preparat.procedura == usluga %}
              {% if not forloop.counter|chet %}
              <script>
                document.getElementById('price').setAttribute('style', 'display: none; ');
                document.getElementById('price-usluga-title').setAttribute('class', 'row d-none d-sm-flex');

              </script>
              
              <div class="row" id="price-usluga">
                {% else %}
                <div class="row" id="price-usluga" style="background-color: #e6e6f8">
                  {% endif %}
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi">{{ preparat.name }}</p>
                </div>
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi">{{ preparat.kolichestvo }} {{ preparat.edinica }}</p>
                </div>
                <div class="col">
                  <p class="text-sections text-sections-modal-uslugi" style="float: right;">{{ preparat.price}}</p>
                </div>
              </div>
              {% endif %}
              {% endfor %}

          </div>
          
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  function ZapisBtn(value){

   var lnk =  document.getElementById('link-uslugaName');
   lnk.setAttribute('href', `/zapis-usluga?nameUslugi=${value}`);
   lnk.click();
  }
</script>


<!-- <script>
  
  document.addEventListener("scroll", function() {
    elem = document.getElementById('about1')
    scroll = ((elem.offsetTop + 1) - (elem.offsetTop + window.scrollY/ 400));
    console.log(scroll)
    elem.style.opacity = scroll;

});
  </script> -->
