Фракционная мезотерапия — это введение различных, чаще всего витаминных, коктейлей в кожу при помощи специального аппарата, называемого дермапен.
 Аппарат имеет сменные одноразовые картриджи с 9-42 микроиглами, посредством которых активные вещества и вводятся в кожу.

Показания;

в трихологии;

при работе по телу;

для лечения стрий и рубцов;

с целью улучшения микроциркуляции и лечения купероза;

для профилактики возрастных изменений лица;

в программах терапии гиперпигментаций;

с целью сужения пор на жирной коже.
