Липолитики – это препараты для коррекции фигуры. Они вводятся под кожу инъекционно (уколами тончайших игл) и позволяют убрать отложения жира на животе, бедрах, лице, шее, руках, в зоне декольте. Сама методика называется «липолиз», она призвана не только избавить от жира, но и улучшить состояние кожи, восстановить обмен веществ в тканях.
Показания:
Целлюлит, «галифе»;
Второй подбородок;
Нечёткий овал лица;
Чрезмерно выраженные комки Биша;
Жировая прослойка на руках, бедрах, ягодицах, животе;
«Вдовий горб».
