

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #bfbfff; margin: 0;">

        <div class="container-fluid h-100%">
        <video id="hhh" class="up" style="width: 100%;" src="../../static/media/welcom1.mp4" autoplay muted></video>
    </div>

        <script>
            window.addEventListener('load', () => {
        
        
        setTimeout(() => {
        location = "/home";
        
        }, "0");
        
        });
        </script>
</body>
</html>




