{% extends "admin/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="/static/css/bootstrap5.css">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}"><img width="200px" style="margin-left: 2rem;" src="/static/media/logoplb.png" alt=""></a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
