<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bootstrap5.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
    <div class="wrapper">

        <header class="header">
            <div class="container-fluid" id="cont-header">
                <div class="row">
                    <div class="col" id="cont-logo">
                        <img width="150px" style="margin-left: 2rem;" src="../../static/media/logoplb.png" alt="">
                    </div>
                    <div class="col" style="margin-top: 6px; margin-right: 2rem;">
                        <button type="button" style="float: inline-end;" class="btn btn-primary">Menu</button>
                    </div>
                </div>
            </div>




        </header>
        <div class="sl-r"></div>
        <main id="main" class="main">
            {% block main %}{% endblock %}


        </main>
        <div class="sl-r"></div>
        <footer id="footer" class="footer">
            footer
        </footer>
    </div>

    <script src="../../static/js/bootstrap5.js"></script>
    <script src="../../static/js/icon_awesome.js"></script>
</body>

</html>