{% extends 'config/layout-blank.html' %}


{% block main %}
<header class="header">
  <div class="container-fluid">
    <h1 class="title">
      Регистрация
    </h1>
  </div>
</header>

<main>
  <div class="container-fluid d-flex justify-content-center main" style="padding: 80px;">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body main">

            <form method="POST" novalidate>
              {% csrf_token %}

              {% for field in form %}
              <p>
                {% if field.errors %}
              <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {{ field.label_tag }}<br> {{ field }}
              </p>
              {% endfor %}
              <button class="btn btn-primary" type="submit">Создать пользователя</button>
              <a href="{%url 'login' %}" style="display: none;">Вход</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

