:root {
    --header-color: #bfbfff;
    --btn-hover: #6656ac;
    --btn-base: #8e7dd9;
    --btn-base-transperency: #8e7dd97b;
    --main-color: #ffffff;
    --dark: #4c39a2;
}


@font-face {
    font-family: "Caveat-Bold";
    src: url("../../static/fonts/Caveat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Caveat-Regular";
    src: url("../../static/fonts/Caveat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Italic";
    src: url("../../static/fonts/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* BASE */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    animation: up 2s;
}



html,
body {
    height: 100%;
    animation: body-bg-down 2s;




}

body {
    min-width: 334px;

}



main.main {
    flex: 1 1 auto;
    position: relative;
    min-height: 800px;
    scroll-margin-top: 80px;

}
.main {
    background:
        linear-gradient(var(--header-color) 0%,
            var(--main-color) 180%);
    border-radius: 14px 14px 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    align-content: start;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;

}

.main-adres {
    min-height: auto !important;
}



footer.footer {
    position: relative;

}

.text-sections {
    background-color: #ffffff8b;
    border-radius: 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    text-align: center;
    text-shadow: #6656ac;
    padding: 4px;
    font-size: xx-large;
    font-family: Roboto-Italic;
    color: var(--btn-hover);
   
}

.text-sections-modal-uslugi {
    margin-top: 20px;
}
.title {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    font-family: Caveat-Bold;
    font-size: 80px;
    text-shadow: 8px 8px 14px var(--btn-hover);

}
.title-group {
    font-size: 50px;
}
.title-logo {
    color: #fff;
    text-align: start;
    font-family: Caveat-Bold;
    font-size: 40px;  
    
    margin-left: 30px;
    text-shadow: 8px 8px 14px var(--btn-hover);
    margin-top: 30px;
    
    

}

.title-logo-2 {
    text-align: end;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-top: 0px;

}

/* BASE */


/* BUTTONS */
.btn {
    font-size: 1.3rem;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
}


.btn-primary {
    color: #fff;
    background-color: var(--btn-base);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
    font-family: Caveat-Bold;
    transition: 0.1s;
    border-radius: 0.6rem;
    border-color: #ffffff7b;
    border-width: 1px;
    border-style: solid;

}


.btn-primary:hover {
    color: #fff;
    background-color: var(--btn-hover);
    border-color: var(--btn-hover);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
    font-family: Caveat-Bold;
    transition: all 0.3s;
}

.btn-primary:focus {
    background-color: var(--btn-hover);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
}

.btn-primary:active {
    background-color: var(--btn-hover);
    margin-top: 2px;
}
.btn-menu:active {
    background-color: var(--header-color);
    margin-top: 2px;
}
.btn-menu:focus {
    background-color: var(--header-color);
    box-shadow: 0px 24px 10px -14px var(--btn-hover);
    border-color: #fff;
}


.btn-menu {
    background-color: var(--header-color);
}

.btn-sticky {
    background-color: var(--btn-base-transperency);
}
.abtn {
    text-decoration: none;
    color: #fff;
}
.btn-sticky {
    z-index: 999;
}

.uslugi-li {
    list-style: none;
}

 /* BUTTONS */

/* HEADER */

.header {
    background-color: var(--header-color);
    padding: 0.1rem;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    z-index: 100;
    border-color: #fff;
    border-width: 1.5px;
    border-style: solid;

}

.fixed-top {
    background-color: var(--header-color);
    padding: 0.1rem;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
    z-index: 100;
    transition: 5s;
}

.sl-r {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9691ad;
}
.sl-r-header {
    height: 65px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #9691ad;
}


ul >* {
    list-style: none;
    margin-top: 7px;
    margin-right: 5px;
}

.top-menu {
    padding-left: 9rem;
}

.top-menu {
    display: flex;
}

/* HEADER */



/* MAIN */




.bg-img {
    opacity: .1;
    position: absolute;
}

#about {
    margin-top: 5rem;
    margin-bottom: 5rem;

}






.base {
    min-height: 800px;
    width: 100%;

    background-image: url('../media/kabinet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    

}


.uslugi {
    background-color: #efe9e491;;
}

.title-uslugi {
    margin-top: 0;
}

.col-uslugi {
    margin-right: 50px;
}

.col-group {
    background-size: 0%;
    background-repeat: no-repeat;
}

/* MAIN */



/* MODAL USLUGI*/

.modal-body-row {
    background-repeat: no-repeat; 
    background-size: 100%;
}
.modal-header-wrap {
    background-size: 0%;
}


/*OFFCANVAS*/

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    max-height: 700px;
    visibility: hidden;
    background-color: var(--btn-base-transperency);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    border-radius: 0px 14px 14px 0px;
  }

  .offcanvas-body {

    padding: 1rem 0rem;

  }

  .offcanvas-top {
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    border-radius: 0px 0px 14px 14px;
  }

  .menu-offcanvas {
    width: 100%;
  }


/* FOOTER */

.footer {
    background-color: var(--header-color);
    border-radius: 14px 14px 0px 0px;
    box-shadow: 0px 24px 10px -14px rgba(158, 158, 158, 1);
}







/* WELCOME */
.up {
    position: fixed;

}



@keyframes up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes body-bg-down {
    from {
        background-color: rgba(191, 191, 255, 1);
    }

    to {
        background-color: rgba(191, 191, 255, 0);
    }




}



/* WELCOME */

@media (max-width: 575px) { 
    #text-about-sm {
        font-size: xlarge;
    }





    
}
@media (max-width: 1327px) { 

    .title {
        font-size: 60px;
    }
    .icon_base {
        margin-left: 80px !important;
    }



    
}
@media (max-width: 645px) { 
  .title-uslugi {
    font-size: 40px;
  }
  .modal-body-row {
    background-size: 0%;
}
    .modal-header-wrap {
        background-size: 100%;
    }
    .title-uslugi {

        text-shadow: 8px 8px 14px var(--dark);
        margin-bottom: 50px;
    
    }
  
}
@media (max-width: 990px) { 
    .col-uslugi {
        margin-right: 0px;
    }
    
}

@media (max-width: 1199px) { 
    .sl-r-header {
        height: 50px;
    }
    
}
@media (min-width: 800px) { 
    .title-logo {
        font-size: 80px;
        margin-left: 200px;
        margin-right: 100px;
    }
    .title-logo-2 {

        margin-left: 0px;


    }
    
}
@media (max-width: 671px) { 
    .col-group {
        background-size: 100%;
    }
    .base {
        background-size: 0%;
    }
    
}